.Dialog1 {
    width: 500px;
    height: 100px;
    background-color: black;
    border: 4px solid #FFEB01;
    position: absolute;
    cursor: move;
    top: 250px;
    left: 620px;
    font-family: 'Enriqueta';
}

.hidden {
    display: none;
}

.DialogTitle {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #FFEB01;
    font-family: 'Enriqueta';
}

.Contents {
    padding-top: 50px;
    padding-bottom: 200px;
}

.closeButton {
    font-size: 12px;
    width: 100px;
    color: black;
    border: 2px solid #FFEB01;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    margin-left: 140px;
    cursor: pointer;
}