.DialogMobile {
    width: 500px;
    height: 100px;
    background-color: black;
    border: 4px solid #0BFD67;
    position: absolute;
    cursor: move;
    top: 25%;
    left: 45%;
    font-family: 'system-ui';
    cursor: grab;
}

.hidden {
    display: none;
}

.DialogMobileTitle {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #af2f2f;
    font-family: 'system-ui';
}

.Contents {
    padding-top: 50px;
    padding-bottom: 200px;
}

.Title9 {
    font-weight: thin;
    font-size: 35px;
    padding: 30px;
    color: white;
    font-family: 'system-ui';
    text-align: left;
    color: #af2f2f;
    font-weight: 100;
    padding-left: 20px;
    
    text-align: justify;
}
