.Dialog2 {
    width: 500px;
    height: 100px;
    background-color: black;
    border: 4px solid #FFEB01;
    position: absolute;
    cursor: move;
    top: 400px;
    left: 800px;
    font-family: 'Enriqueta';
}
.hidden {
    display: none;
}

.DialogTitle2 {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #FFEB01;
    font-family: 'Enriqueta';
    color: 'white'
}

.Contents {
    padding-top: 50px;
    padding-bottom: 200px;
}

.closeButton {
    font-size: 12px;
    width: 100px;
    color: black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    margin-left: 140px;
    cursor: pointer;
}